[submodule "war_resources_frontend"]
	path = war_resources_frontend
	url = git@github.com:Jackhalabardnik/war_resources_frontend.git
[submodule "WarResourcesAPI"]
	path = WarResourcesAPI
	url = git@github.com:janfig/WarResourcesAPI.git
